<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../style.css">
      <title>Student Enrollamente</title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
      <h1>Student Enrollment</h1>
      <nav>
        <ul>
          <li><a href = "/students">All Students</a></li>
          <li><a href = "/students/new">Add Students</a></li>
        </ul>
      </nav>
      <%= yield %>
  </body>
</html>
