<div class="add-student"><form method="post" action="/students">
  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name" />

  <label for="second-name">Second Name:</label>
  <input id="second-name" type="text" name="last_name"/>

  <label for="house">Select a house:</label>
  <select id="house" name="house">
    <option value="Slytherin">Slytherin</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Griffindor">Griffindor</option>
    <option value="Ravenclaw">Ravenclaw</option>
  </select>

  <label for="age">Age:</label>
  <input id="age" type="number" name="age"/>

  <input type="submit" value="Enroll Student"/>
</form>
</div>
